# ==========================================
__pycache__/
*.py[cod]
*.whl
venv/
bot_env/
test_env/
# ==========================================
.env*
*.pfx
# ==========================================
log/
*.db
# ==========================================
*~
*.un~
*.swp
*.migrated_*
# ==========================================
debug_*.py
test*.py
fubon_textbook
readme.md